* {
	box-sizing: border-box;
}


.container {
	padding: 1em;
}

img { 
	display: block;
	width: 100%;
}

body {
	font-size: 100%;
	font-family: sans-serif;
	line-height: 1.65em;
}

hr {
	max-width: 2000px;
	width: 100%;
	margin-top: 4em;
	margin-bottom: 4em;
}

.img-wrap-bos {
	max-width: 2000px;
	margin: 0 auto;
}

.img-wrap-audi {
	max-width: 1440px;
	margin: 0 auto;
}

.img-wrap-viper {
	/*max-width: 1440px;
	margin: 0 auto;*/
}

.text {
	margin: 0;
	padding-top: 1em;
}